.advantage {
  background-color: $grey;
  text-transform: uppercase;
}
.advantage--bg {
  background-color: $basic-color;
  color: $white;
  border: none;
}
.advantage--bg .advantage__number,
.advantage--bg .advantage__text {
  color: $white;
}

.advantage__inner {
  width: 292px;
  margin: 0 auto;
  padding: 25px 0;

  @media (min-width: $tablet-width) {
    width: 192px;
    padding: 42px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 42px 0 62px 0;
  }
}

.advantage__title {
  margin: 0;
  margin-bottom: 15px;
  @include fontSizeHeightWeight(18px, 26px, 700);

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.advantage__number {
  margin: 0;
  margin-bottom: 17px;
}

.advantage__text {
  margin: 0;
}

.advantage__number,
.advantage__text {
  @include fontSizeHeightWeight(14px, 26px);
  color: $secondary-color;
}

.advantage__image {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.advantage__sublist {
  padding: 0;
  grid-column: 1 / -1;
}
