.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14.5px 32px;
  @include fontSizeHeightWeight(21px, 26px, 700);
  color: $white;
  text-transform: uppercase;
  background-color: $basic-color;
  border: none;
}
