.city-advantages {
  list-style: none;
  background-color: $white;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.city-advantages__title {
  @include fontSizeHeightWeight(18px, 15px, 700);
  color: $black;
}

.city-advantages__text {
  @include fontSizeHeightWeight(21px, 26px);
  color: $secondary-color;
}
