.fieldset {
  border: none;
  border-top: 1px solid $fieldset-border;

  &--impression {
    @media (min-width: $tablet-width) {
      order: -1;
    }
  }

  &--contacts,
  &--attractions,
  &--emotions {
    @media (min-width: $tablet-width) {
      grid-column: 1 / -1;
    }
  }
}


.fieldset__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.fieldset__title {
  text-align: center;
}
