.gallery-list {
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery-list__item:first-child {
  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
  }
}
