.input-text {

}

.input-text__input {
  background-color: $input-bg;
  border: none;

  &::placeholder {
    @include fontSizeHeightWeight(18px, 26px, 700);
    color: $black;
  }
}

.input-text__label {
  @include fontSizeHeightWeight(14px, 26px);
  color: $secondary-color;
  text-transform: uppercase;
}

