.main-nav {
  padding-bottom: 58px;
  position: relative;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.main-nav__wrapper {

  @media (min-width: $tablet-width) {
    width: 723px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1069px;
  }
}

.main-nav__logo {
  position: absolute;
  bottom: -31px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    top: 0;
  }
}
.main-nav__toggler-wrapper {
  position: absolute;
  right: 20px;
  top: 12px;
  z-index: 2;
}

.main-nav__toggler {
  width: 22.9px;
  height: 22px;
  padding: 0;
  border: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggler {
  &::before {
    content: "";
    width: 22.9px;
    height: 4px;
    background-color: $basic-color;
    position: absolute;
    top: 0;
    right: 0;

    box-shadow: 0px 8px $basic-color, 0px 16px $basic-color;
  }
}

.main-nav--opened .main-nav__toggler {
  &::before {
    content: "";
    width: 22.9px;
    height: 4px;
    background-color: $white;
    position: absolute;
    transform: rotate(-45deg);
    top: 8px;
    left: 0;
  }

  &::after {
    content: "";
    width: 22.9px;
    height: 4px;
    background-color: $white;
    position: absolute;
    transform: rotate(45deg);
    top: 8px;
    left: 0;
  }
}

.main-nav--closed .main-nav__list {
  display: none;
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.main-nav--opened .main-nav__list {
  display: block;
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $basic-color;
  box-shadow: inset 0px -3px 5px 0px rgba(black, 0.2);

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: transparent;
    box-shadow: none;
  }
}

.main-nav__item {
  padding-top: 7px;
  text-align: center;
  box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2);

  &:not(:first-child) {
    box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
  }

  @media (min-width: $tablet-width) {
    width: 20%;
    padding-top: 13px;
    padding-bottom: 11px;
    box-shadow: none;
    &:not(:first-child) {
      box-shadow: none;
    }
    &:nth-child(4n-2) {
      margin-right: 20%;
    }
  }
}

.main-nav__link {
  @include fontSizeHeightWeight(18px, 40px, 700);
  color: $white;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    color: $black;
  }
}
