.page-main__intro {
  margin-bottom: 1px;

  @media (min-width:$tablet-width) {
    margin-bottom: 42.5px;
  }

  @media (min-width:$desktop-width) {
    margin-bottom: 31px;
  }
}

.page-main__search {
  margin: 0 auto;
  margin-bottom: 49px;
}

.page-main__map {
  margin-bottom: 38.5px;
}
