.page {
  height: 100%;
  font-family: PT Sans;
  @include fontSizeHeightWeight(14px, 21px);
}

.page__body {
  margin: 0;
  padding: 0;
  background-color: $grey;
}

.page__wrapper {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  background-color: $white;
  box-shadow: 0px 5px 15px 0 rgba($black, 0.2);
}
